# Ignore everything
**

# Allow files and directories
!go.mod
!go.sum
!.yarnrc.yml
!.yarn/releases
!yarn.lock
!package.json
!tsconfig.json
!/database/**
!/graphql/**
!/server/**
!/internal/**
!/app/**

# Ignore unnecessary files inside allowed directories
**/*~
**/*.log
**/.DS_Store
**/Dockerfile
**/Thumbs.db
**/node_modules
**/build
