# Ignore everything
**

# Allow files and directories
!go.mod
!go.sum
!/cmd/**
!/packages/postgres/**
!/web/**

# Ignore unnecessary files inside allowed directories
**/*~
**/*.log
**/.DS_Store
**/Dockerfile
**/Thumbs.db
**/node_modules
**/build
