**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/node_modules
**/build
**/.vscode
**/.yarn/*
!**/.yarn/releases
!**/.yarn/plugins
**/.next
tsconfig.tsbuildinfo
.gitsecret/keys/random_seed
secrets/*
!secrets/*.secret
**/database_data_dump*
website/out/
