{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^lib/(.*)$",
    "^intl/(.*)$",
    "^core/(.*)$",
    "^modules/(.*)$",
    "^assets/(.*)$",
    "^[./]"
  ]
}
