services:
  postgres:
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    volumes:
      - ./database:/docker-entrypoint-initdb.d
  graphql:
    volumes:
      - ./cmd/graphql/schema.graphql:/opt/graphql/dist/schema.graphql
    ports:
      - ${GRAPHQL_PORT}:${GRAPHQL_PORT}
  server:
    environment:
      - SERVER_PORT=${SERVER_PORT}
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
  gotenberg:
    ports:
      - ${GOTENBERG_PORT}:${GOTENBERG_PORT}
