services:
  database:
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    volumes:
      - ./database:/docker-entrypoint-initdb.d
  graphql:
    volumes:
      - ./graphql/schema.graphql:/opt/graphql/dist/schema.graphql
    ports:
      - ${GRAPHQL_PORT}:${GRAPHQL_PORT}
  server:
    environment:
      - SERVER_PORT=${SERVER_PORT}
      - FILE_DIR=/var/heltin-data
    volumes:
      - ${FILE_DIR}:/var/heltin-data # ${FILE_DIR} taken from .env
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
  gotenberg:
    ports:
      - ${GOTENBERG_PORT}:${GOTENBERG_PORT}
