version: "3"

services:
  postgres:
    build:
      context: .
      dockerfile: ./packages/postgres/Dockerfile
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - ./packages/postgres:/docker-entrypoint-initdb.d
  graphql:
    build:
      context: .
      dockerfile: ./cmd/graphql/Dockerfile
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - SESSION_SECRET=verysecret
      - WATCH=true
    ports:
      - ${GRAPHQL_PORT}:${GRAPHQL_PORT}
  server:
    build:
      context: .
      dockerfile: ./cmd/server/Dockerfile
    ports:
      - 6002:80
