version: "3"

volumes:
  postgres-data:
    driver: "local"
networks:
  private:
    driver: "bridge"
  public:
    driver: "bridge"
services:
  postgres:
    image: bhidapa/heltin-postgres
    networks:
      - private
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "psql --set=ON_ERROR_STOP=1 --username=$$POSTGRES_USER --dbname=$$POSTGRES_DB --command='select 1 from public.user;' > /dev/null 2>&1",
        ]
      timeout: 3s
      interval: 6s
      retries: 3
  graphql:
    image: bhidapa/heltin-graphql
    networks:
      - private
      - public
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_SCHEMAS=${POSTGRES_SCHEMAS}
      - POSTGRES_SESSION_TABLE_SCHEMA=${POSTGRES_SESSION_TABLE_SCHEMA}
      - GRAPHQL_ROUTE=/graphql
      - GRAPHIQL_ROUTE=/graphiql
      - PORT=${GRAPHQL_PORT}
    depends_on:
      - postgres
    restart: unless-stopped
  app:
    image: bhidapa/heltin-app
    networks:
      - public
    environment:
      - GRAPHQL_ENDPOINT=http://graphql:${GRAPHQL_PORT}/graphql
    depends_on:
      - graphql
    command: /bin/bash -c "envsubst '$$GRAPHQL_ENDPOINT' < /etc/nginx/conf.d/nginx.template > /etc/nginx/conf.d/default.conf && exec nginx -g 'daemon off;'"
