<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Conclusion.Title }}</title>

    <style type="text/css">
      body {
        font-family: Helvetica, sans-serif;
      }
      p {
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <main>
      <h1 style="margin-top: 0">
        Mišljenje i preporuka {{ .Conclusion.TherapistType }}
      </h1>
      <br />

      <div style="display: flex; justify-content: space-between">
        <div>
          <b>Ime i prezime:</b>&nbsp;{{ .Conclusion.ClientName }}
          <br />
          <b>Datum rođenja:</b>&nbsp;{{ .Conclusion.ClientDOB }}
          <br />
          <b>Adresa:</b>&nbsp;{{ .Conclusion.ClientAddress }}
          <!-- prettier-ignore -->
          {{ if ne .Conclusion.ClientEmail "" }}
          <br />
          <b>E-Mail:</b>&nbsp;<a href="mailto:{{ .Conclusion.ClientEmail }}"
            >{{ .Conclusion.ClientEmail }}</a
          >
          {{ end }}
        </div>
        <div>{{ .Conclusion.IssuedAt }}</div>
      </div>

      <br />
      <hr />
      <br />

      <div>
        <h2>{{ .Conclusion.Title }}</h2>
        <p>{{ .Conclusion.Description }}</p>
      </div>

      <br /><br />

      <div style="display: flex; justify-content: flex-end">
        <div>
          {{ .Conclusion.TherapistName }}
          <br />
          {{ .Conclusion.TherapistType }}
        </div>
      </div>
    </main>
  </body>
</html>
