{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^lib/(.*)$",
    "^intl/(.*)$",
    "^core/(.*)$",
    "^modules/(.*)$",
    "^assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
