server {
  listen 80;
  listen [::]:80;

  root /usr/share/nginx/html;

  location / {
    try_files $uri @index;
  }

  location @index {
    add_header Last-Modified $date_gmt;
    add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
    if_modified_since off;
    expires off;
    etag off;

    try_files /index.html =404;
  }

  # graphql endpoint
  location /api/graphql {
    proxy_pass ${GRAPHQL_ENDPOINT};
    client_max_body_size 0;
  }
}
